body {
    background-color: #AAAABB;
}

#nav_bar {
    background-color: #343445;
    margin-bottom: 10px;

    a {
        padding: 10px;
    }
    a:hover, a:active {
        text-decoration:underline;
    }
    a:link, a:visited {
        color: #DD3434;
        text-decoration:none;
    }
    a:hover {
        color: #BB1212;
    }
    a:active {
        color: #AA0000;
    }
}

#game-submission {
    .row {
        clear:both;
        width:100%;
    }
    
    .item {
        width:100%;
    }
    
    .col1 {
        text-align:right;
        width:20%;
        height:relative;
        margin:0;
        float:left;
    }
    
    .col2 {
        text-align:left;
        width:70%;
        height:relative;
        margin:0;
        float:left;
    }

    .supplies {
        width:80%;
    }

    .instructions {
        width:80%;
    }
}