body {
    background-color: #AAAABB;
}

#nav_bar {
    background-color: #343445;
    margin-bottom: 10px;

    a {
        padding: 10px;
    }
    a:hover, a:active {
        text-decoration:underline;
    }
    a:link, a:visited {
        color: #DD3434;
        text-decoration:none;
    }
    a:hover {
        color: #BB1212;
    }
    a:active {
        color: #AA0000;
    }
}
